img{
	max-width: 100%;
}

a{
	cursor: pointer;
}

.conversations {
	position: fixed;
	left: 0;
	bottom: -20px;
	.list-group-item{
		bottom: 0px;
		.transition(bottom ease 500ms);
		&.reduce{
			bottom: -250px;
		}
		.list-group-item-heading{
			.border-top-radius(@list-group-border-radius);
	    	margin-left: -15px;
	    	margin-right: -15px;
	    	margin-top: -10px;
	    	padding: 15px 10px;
	    	a{
	    		color: white;
	    	}
		}
		.message-list{
			width: 200px;
			height: 125px;
			overflow-y: auto;
		}
	}
}

.likes{
	figure{
		.image{
			height: 50px;
		}
	}
}